<ul class="posts">
        {% for post in posts %}
            <li class="post">
                <div class="profile-thumbnail"><a href="{{ url_for('main.user', username=post.auther.username) }}">
                    <img src="{{ post.auther.gravatar(size=40) }}" alt="" class="img-rounded img-thumbnail">
                </a></div>
                <div class="post-content">
                    <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
                    <div class="post-auther">
                        <a href="{{ url_for('.user', username=post.auther.username) }}">
                            {{ post.auther.username }}
                        </a>
                    </div>
                    <div class="post-body">
                        {% if post.body_html %}
                            {{ post.body_html|safe }}
                        {% else %}
                            {{ post.body }}
                        {% endif %}</div>
                    <div class="post-footer">
                        {% if current_user == post.auther %}
                            <a href="{{ url_for('.edit', id=post.id) }}">
                                <div class="label label-primary">Edit</div>
                            </a>
                        {% elif current_user.is_administrator() %}
                            <a href="{{ url_for('.edit', id=post.id) }}">
                                <div class="label label-danger">Edit[管理员]</div>
                            </a>
                        {% endif %}
                        <a href="{{ url_for('.post', id = post.id) }}">
                            <div class="label label-default">阅读全文</div>
                        </a>
                    </div>
                </div>

            </li>
        {% endfor %}
    </ul>