{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ title }}{{ user.username }}{% endblock %}

{% block page_content %}
    <table class="table table-hover followers">
        <thead><tr><th>用户</th><th>关注时间</th></tr></thead>
        {% for follow in follows %}
            {% if follow.user != user %}
                <tr>
                <td><a href="{{ url_for('.user', username=follow.user.username) }}">
                    <img src="{{ follow.user.gravatar(size=32) }}" alt="">{{ follow.user.username }}</a>
                </td>
                <td>{{ moment(follow.timestamp).format('L') }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.followers',username=user.username) }}
    </div>
{% endblock %}